<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous">
    
    
</head>
<body>



    
<div class="container   ">
  <div class="card">
 <!--  form header -->
  <div class="card-header bg-gray fs-2 text-center text-black">
<label>Engineering College</label>
  </div>
   <div class="card-body">
    <div class="row py-2">
        <div class="col-7"> <a href="/faculty"  class="text-decoration-none text-black">Pulchowk Engineering College</a> </div>
     
  </div>
 
    <div class="row py-2">
        <div class="col-7"> <a href="/faculty"  class="text-decoration-none  text-black">Thapathali Engineering College</a> </div>
     
  </div>
  <div class="row py-2">
    <div class="col-7"> <a href="/faculty"  class="text-decoration-none  text-black"> ERC Engineering College</a> </div>
 
</div>
<div class="row py-2">
    <div class="col-7"> <a href="/faculty"  class="text-decoration-none  text-black">WRC Engineering College</a> </div>
 
</div>
<div class="row py-2">
    <div class="col-7"> <a href="/faculty"  class="text-decoration-none  text-black"> Sagarmatha Engineering College</a> </div>
 
</div>
<div class="row py-2">
    <div class="col-7"> <a href="/faculty"  class="text-decoration-none  text-black">Kathmandu Engineering College</a> </div>
 
</div>
<div class="row py-2">
    <div class="col-7"> <a href="/faculty" class="text-decoration-none  text-black"> kantipur Engineering College</a> </div>
 
</div>
<div class="row py-2">
    <div class="col-7"> <a href="/faculty"  class="text-decoration-none  text-black">Advance Engineering College</a> </div>
 
</div>

  </div>

  </div>
  
</div>

</body>
</html>